@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

body {
    margin: 0;
    background-color: #e4e4e4;
}
.project-grid {
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-columns: 620px 620px;
    row-gap: 12px;
    column-gap: 12px;
    top: 2450px;
    margin-bottom: 300px;
    left: calc(50% - 620px);
    position: absolute;
}

.project-grid img{
    width: 620px;
    height: 400px;
}

.project-grid img:hover{
    cursor: pointer;
}

/* .project-grid > span:hover{
    background: white;
} */

.project-grid > div{
    width: 620px;
    height: 400px;
}

#tech-stack{
    list-style: none;
    margin-left: -48px;
}
#tech-stack li {
    display: inline;
    padding: 9px;
}
#tech-stack a {
    text-decoration: none;
}
#tech-stack ul {
    display: inline;
    padding: 9px;
}
#tech-stack img {
   width: 50px;
   height: 50px; 
}

#start-content-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #181818;
}
#start-text{
    font-family: 'Inconsolata', monospace;
    font-size: 25px;
}
.start-content {
    position: absolute;
    color: white;
    top: 45%;
    left: 45%;
    font-size: large;
}

.project{
    position: absolute;
    margin-bottom: 300px;
}

.project p, a{
    font-family: 'Inconsolata', monospace;
    font-size: 17px;
}
.login-info{
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 17px;
    margin-top: 20px;
    line-height: 30px;
    padding-left: 10px;
    background: linear-gradient(90deg, #9E9E9E, #7D7D7D);
}

.project{
    bottom: -2250px;
    left: 58%;
}
.project-header{
    font-family: 'Inconsolata', monospace;
    font-size: 50px;
}
.project-header > a{
    text-decoration: none;
}
.side-image{
    width : 620px;
    height: 400px;
    position: absolute;
    top: 50px;
    left: -700px;
}

#tictactoe{
    bottom: -2170px;
}

.side-image:hover{
    cursor: pointer;
}

#photo-grid{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 220px 220px;
    column-gap: 15px;
    position: absolute;
    margin-left: -120%;
}
#journal-side{
    width : 320px;
    height: 200px;
}
#journal-side:hover{
    cursor: pointer;
}
#journal-right{
    width : 310px;
    height: 200px;
}
#diagram{
    width : 380px;
    height: 400px;
}
.github-link{
    width: 45px;
    height: 45px;
}
nav{
    position: fixed;
    font-size: 18px;
    font-family: 'Inconsolata', sans-serif;
    width: 100%;
    padding: 15px;
    background-color: #D0D0D0;
    z-index: 1;
}
#top-left{
    float: left;
    padding-left: 25px;
}

#item-one{
    float: right;
    padding-right : 50px;
}
#item-two{
    float: right;
    padding-right: 50px;
}

#item-one:hover{
    color: #9E9E9E;
    cursor: pointer;
}
#item-two:hover{
    color: #9E9E9E;
    cursor: pointer;
}

/* -------- MODAL ---------- */
#modal{
    display: none;
    font-family: 'Inconsolata', monospace;
    position: fixed;
    z-index: 1;
    left: 0;
    top : 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
}
#modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 40%;
    height: 15%;
}
#contact-text{
    margin-top: 20px;
}
#resume-link{
    display: inline-block;
    position: relative;
    margin-left: 70%;
    bottom: 55px;
}
#resume-btn{
    position: relative;
    width: 150px;
    height: 52px;
    border: 4px solid #7D7D7D;
    border-radius: 5px;
    font-family:  'Inconsolata', monospace;
}
#resume-btn:hover{
    cursor: pointer;
    background: #e4e4e4;
}
#resume-btn:focus{
    outline: none;
}
/* -------- MODAL ---------- */

/* -------- ABOUT ME ---------- */
#modal-close:hover{
    cursor: pointer;
}
#contact{
    position: relative;
    width: 150px;
    height: 52px;
    bottom: 734px;
    left: 49%;
    border: 4px solid #7D7D7D;
    border-radius: 5px;
    font-family:  'Inconsolata', monospace;
}
#contact:hover{
    cursor: pointer;
    background: #e4e4e4;
}
#contact:focus{
    outline: none;
}
#headshot{
    width: 400px;
    height: auto;
    border-radius: 50%;
    height: 250px;
    width : 300px;
    margin-left: calc(50% - 100px);
    margin-bottom: 330px;
}
.content{
    font-family: 'Inconsolata', monospace;
}
#whoami{
    position: absolute;
    margin-left: 20%;
    text-align: center;
    bottom: 800px;
    width: 400px;
}
#bottom-text{
    top: 50px;
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
}
#title{
    font-family: 'Inconsolata', monospace;
}
#sub-title{
    font-family: 'Inconsolata', monospace;
}
#aboutme-outside{
    font-family: 'Inconsolata', monospace;
    position: relative;
    font-size: 14px;
    bottom: 600px;
    margin-left: 65%;
}
.stack-header{
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
}
#aboutme-work{
    font-family: 'Inconsolata', monospace;
    position: relative;
    font-size: 14px;
    bottom: 580px;
    margin-left: 65%;
}
.aboutme-content {
    position: absolute;
    left: -3.3%;
    bottom: -1500px;
    width : 100%;
}
#ts-table{
    position: relative;
    display: grid;
    width: 1000px;
    left: 35%;
    bottom: 400px;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    row-gap: 22px;
    column-gap: 100px;
}
#ts-header {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    position: absolute;
    top: 35%;
    right: 58%;
    bottom : 70%;
    text-align: center;
}
#ts-table img {
    max-width : 50px;
    max-height : 50px;
}
/* -------- ABOUT ME ---------- */

/* -------- MOBILE RESPONSE ---------- */
@media only screen and (max-width: 600px){
    body, html{
        overflow: none;
    }
    nav{
        width: 100%;
    }
    #top-right{
        margin-right: 10%;
    }
    #item-one{
        padding-right : 15px;
    }
    #item-two{
        padding-right: 20px;
        letter-spacing: -0.01px;
    }
    #top-left{
        padding-left: 15px;
    }
    .start-content{
        left: 25%;
    }
    #start-text{
        font-size: 18px;
        text-align: center;
    }
    .project-grid{
        display: grid;
        grid-template-rows: 200px 200px 200px 200px;
        grid-template-columns: 310px;
        row-gap: 12px;
        column-gap: 12px;
        top: 2950px;
        margin-bottom: 300px;
        left: 0%;
        position: absolute;
    }
    #headshot{
        top: 10px;
        margin-left: calc(45% - 120px)
    }
    #whoami{
        top: 250px;
        right: 7%;
        font-size: 12px;
        text-align: center;
        max-width: 300px;
    }
    #aboutme-outside{
        text-align: center;
        right: 50%;
        top: 280px;
        width : 300px;
        height: 200px;
    }
    #aboutme-work{
        text-align: center;
        right: 50%;
        top: 300px;
        width : 300px;
        height: 200px;
    }
    #ts-header{
        font-family: 'Bebas Neue', cursive;
        text-align: left;
        left: 5.5%;
        width: 100%;
        top: 580px;
    }
    #ts-table{
        position: relative;
        display: grid;
        width: 300px;
        bottom: 365px;
        left: 12%;
        grid-template-columns: 50px 50px 50px 50px 50px;
        grid-template-rows: 50px 50px 50px;
        row-gap: 22px;
        column-gap: 20px;
    }
    #ts-table img {
        height: 32px;
        width: 32px;
    }
    .project-grid img{
        width: 375px;
        height: 200px;
    }

    .project-header{
        padding-top: 10px;
    }

    .project{
        text-align: center;
        position: absolute;
        top: 2950px;
        margin-bottom: 10px;
        left: 0%;
    }

    #journal-item{
        padding-bottom: 300px;
    }

    .project p, a{
        font-family: 'Inconsolata', monospace;
        font-size: 14px;
    }
    #switcher:active{
        z-index: 1;
        background: url("../assets/bopper.png");
    }
    .stack-header{
        font-family: 'Bebas Neue', cursive;
        font-size: large;
    }
    #tech-stack li {
        display: inline;
        padding: 9px;
    }
    #tech-stack a {
        text-decoration: none;
    }
    #tech-stack ul {
        display: inline;
        padding: 9px;
    }
    #tech-stack img {
        width: 32px;
        height: 32px; 
    }
    .side-image {
        width: 375px;
        height: 200px;
        left: 0;
        position: relative;
        top: 50px;
    }
    #photo-grid{
        display: none
    }
    #journal-side{
        width: 375px;
        height: 200px;
    }
    #journal-side:hover{
        cursor: pointer;
    }
    #journal-right{
        width: 375px;
        height: 200px;
    }
    #diagram{
        width : 270px;
        height: 380px;
    }

    #modal-content{
        margin-top: 70%;
        margin-left: 7%;
        width: 75%;
        height: 27%;
    }
    #ts-nodejs{
        width : 100px !important;
        transform: translateX(-5px);
    }
    #contact{
        margin-top : 13.5%;
        margin-left : -16%;
    }
    #resume-btn{
        position: relative;
        width: 150px;
        height: 52px;
        border: 4px solid #7D7D7D;
        border-radius: 5px;
        font-family:  'Inconsolata', monospace;
    }

    #resume-link{
        display: inline-block;
        position: relative;
        margin-left: 25%;
        bottom: 1px;
    }
}
/* -------- MOBILE RESPONSE ---------- */

/* -------- IPHONE XS RESPONSE ---------- */
@media only screen and (max-width: 458px) and (device-height : 896px) {
    .project-grid{
        display: grid;
        grid-template-rows: 200px 200px 200px 200px;
        grid-template-columns: 310px;
        row-gap: 12px;
        column-gap: 12px;
        top: 2950px;
        margin-bottom: 300px;
        left: 10%;
        position: absolute;
    }
    #contact{
        margin-top: 11%;
        margin-left: -13%;
    }
    #ts-table{
        position: relative;
        display: grid;
        width: 300px;
        bottom: 359px;
        left: 13.5%;
        grid-template-columns: 50px 50px 50px 50px 50px;
        grid-template-rows: 50px 50px 50px;
        row-gap: 22px;
        column-gap: 30px;
    }
    #ts-header{
        margin-left: 4%;
    }
    #ts-table img {
        height: 42px;
        width: 42px;
    }
    #whoami{
        right: 15%;
    }
    #headshot {
        top: 10px;
        margin-left: calc(45% - 120px);
    }
    #aboutme-outside{
        text-align: center;
        right: 44%;
        top: 275;
        width : 300px;
        height: 200px;
    }
    #aboutme-work{
        text-align: center;
        right: 44%;
        top: 295;
        width : 300px;
        height: 200px;
    }
}

/* -------- IPHONE XS RESPONSE ---------- */