@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');

body {
    margin: 0;
    background-color: #e4e4e4;
}
.project-grid {
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-columns: 620px 620px;
    row-gap: 12px;
    column-gap: 12px;
    top: 2500px;
    margin-bottom: 300px;
    left: calc(50% - 620px);
    position: absolute;
}

#aboutme-ts{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    float: right;
    bottom: 30px;
    left: -300px;
}

.project-grid img{
    width: 620px;
    height: 400px;
}

.project-grid img:hover{
    cursor: pointer;
}


/* .project-grid > span:hover{
    background: white;
} */

.project-grid > div{
    width: 620px;
    height: 400px;
}

#tech-stack{
    list-style: none;
    margin-left: -48px;
}
.stack-header{
    font-family: Arial, Helvetica, sans-serif;
}
#tech-stack li {
    display: inline;
    padding: 9px;
}
#tech-stack ul {
    display: inline;
    padding: 9px;
}
#tech-stack img {
   width: 50px;
   height: 50px; 
}
.aboutme-content {
    position: absolute;
    width : 1000px;
    bottom: -1000px;
    left: 37%;
}

.aboutme-content p, h2 {
    font-family: Arial, Helvetica, sans-serif;
}
#start-content-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #181818;
}
#start-text{
    font-family: 'Inconsolata', monospace;
    font-size: 25px;
}
.start-content {
    position: absolute;
    color: white;
    top: 45%;
    left: 45%;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.project{
    position: absolute;
    margin-bottom: 300px;
}

.project p, a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.login-info{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 17px;
    margin-top: 20px;
    line-height: 30px;
    padding-left: 10px;
    background: linear-gradient(90deg, #9E9E9E, #7D7D7D);
}

.project{
    bottom: -2250px;
    left: 58%;
}
.project-header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.live-link > a{
    text-decoration: none;
}
.side-image{
    width : 620px;
    height: 400px;
    position: absolute;
    top: 50px;
    left: -700px;
}

#tictactoe{
    bottom: -2170px;
}

.side-image:hover{
    cursor: pointer;
}

#photo-grid{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 220px 220px;
    position: absolute;
    margin-left: -141%;
}
#journal-side{
    width : 320px;
    height: 200px;
}
#journal-side:hover{
    cursor: pointer;
}
#journal-right{
    width : 310px;
    height: 200px;
}
#diagram{
    width : 380px;
    height: 400px;
}
.github-link{
    width: 45px;
    height: 45px;
}
nav{
    position: fixed;
    font-size: 22px;
    font-family: 'Teko', sans-serif;
    width: 100%;
    padding: 15px;
    background-color: #D0D0D0;
    z-index: 1;
}
#top-left{
    float: left;
    padding-left: 25px;
}

#item-one{
    float: right;
    padding-right : 50px;
}
#item-two{
    float: right;
    padding-right: 50px;
}

#item-one:hover{
    color: #9E9E9E;
    cursor: pointer;
}
#item-two:hover{
    color: #9E9E9E;
    cursor: pointer;
}